/* Unversal */

/* Navigatio section */
nav{
    color:auto;
    text-align: right;
    font-size:24px;
    padding: 10px;
    margin-top: 30px;
    border-style: solid ;
    
    color: #ffffff;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
a{
    
    color:black;
    border-radius: 20px;
    background-color:;
}

nav a:hover {
    background: lightcoral;
    transform: scale(1.05);
}

/* Display flex*/
.flex{
    
    display:flex;
    background-color:white;
}

/*Shadows 2D Trans form*/
.flex {
    background: linear-gradient(to right, #ece9f7, #ffffff);

      }


/* College Name*/
#title{
    font-size: 35px;
    padding-right: 10px;
    margin: 10px;
}
/* Border line Top*/
#line1{
    border-top: solid;
    border-width: 4px;
}

/* Tiltle */
.title{
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Tiltle Content*/
.title_c{
    text-align: center;
    font-size:90px;
    padding: 20px;
    border: double;
    border-width:auto;
}

                /* End of Navigatio and Logo*/

.evet_7,.events-lists,.october_c,.november_c,.deceamber_c,.january_c,
.october_t,.november_t,.deceamber_t,.january_t,
.october_evets,.november_events,.deceamber_events,.january_evets,.events-lists,.events-lists,.event_n
{
    padding: 50px;
    text-align:justify;
}

.evet_7{
    font-size: 70px;
    padding:20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-style: double;
    padding: 20px;
    background: linear-gradient(to right, #e3eaf8, #fef6ff);
border-radius: 80px
}

.events-lists{
    background: linear-gradient(to right, #e0f7fa, #ffffff);

    padding: 15px;
    font-size: 17px;
}

.october_c,.november_c,.deceamber_c,.january_c{
    padding: 20px;
    font-size: 35px;
    background-color:li;
    font-weight: bolder;
    text-align: left;
    background-color: lightpink;
    border-radius: 50px;
}
.october_t,.november_t,.deceamber_t,.january_t{
    font-size: 35px;
    padding: 30px;
    text-align: justify;
    padding-left: 150px;
    border-style: dashed;
    margin-bottom: 20px;
    background: linear-gradient(to right, #e3eaf8, #fef6ff);
    border-radius: 80px
}

.october_evets,.november_events,.deceamber_events,.january_evets{
    font-size: 50px;
   
}

.events-lists{
    padding: 10px;
    font-size: 17px;
    padding-left: 50px;
    text-align: left;
    
}

.event_n{
font-size: 30px;
margin-top: 10px;
margin-bottom: -10px;
background-color: lightpink;
padding: 6px;
}

body{
    background: linear-gradient(to right, #ffe8e8, #ffffff);
}